@charset "UTF-8";

$point-color:#395CC1; //point color //이름고민
$red-color:#E6003A;

$img-url:'//gscdn.hackers.co.kr/ecpa/img/';
$img-ico:'common/sp_ico.png';
$img-btn:'common/sp_btn.png';
$img-down:'common/sp_down.png';
$img-common:'common/sp_common.png';