@charset "UTF-8";

.bx-has-pager{
	right:$padding-w;
	font-size:$font-size;
}
.lnb{
	display:table;
	table-layout:fixed;
	width:100%;
	padding:14px 0;
	margin-bottom:15px;
	background:#000;
	li{
		display:table-cell;
		width:50%;
		text-align:center;
		border-left:1px solid #b1b1b1;
		line-height:$font-size3;
		a{
			font-size:$font-size3;
			color:#8e8e8e;
		}
		&.on a{
			font-weight:600;
			color:#52dcff;
		}
		&:first-child{
			border-left:0;
		}
	}
}

.tab-type{
	display:table;
	table-layout:fixed;
	width:100%;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	li{
		display:table-cell;
		width:33.3%;
		a{
			display:block;
			position:relative;
			width:100%;
			height:39px;
			line-height:39px;
			font-size:$font-size3;
			color:#000;
			text-align:center;
		}
		&.on a{
			color:$point-color;
			font-weight:600;
			&:after{
				display:inline-block;
				content:'';
				position:absolute;
				bottom:-1px;
				left:0;
				width:100%;
				height:3px;
				background:$point-color;
			}
		}
	}
	&.col4{
		li{
			width:25%;
		}
	}
}

.tab-type2{
	border-top:1px solid #d7d7d7;
	background:#fff;
	font-size:0;
	li{
		display:inline-block;
		width:50%;
		height:37px;
		line-height:35px;
		border-bottom:1px solid #d7d7d7;
		a{
			display:block;
			position:relative;
			width:100%;
			height:100%;
			padding:0 $padding-w;
			background:#fff;
			text-align:left;
			font-size:$font-size3;
		}
		&.on a{
			color:$point-color;
			font-weight:600;
			.ico-arr-right:after, .ico-arr-right:before{
				border-color:$point-color;
			}
		}
		&:nth-child(even){
			border-left:1px solid #d7d7d7;
		}
		.ico-arr-right{
			position:absolute;
			right:$padding-w;
			top:50%;
			transform:translate(0,-50%);
		}
	}
}
.tab-type3{
	display:table;
	table-layout:fixed;
	width:100%;
	border-bottom:1px solid $point-color;
	background:#fff;
	li{
		display:table-cell;
		width:50%;
		height:40px;
		line-height:38px;
		border:1px solid #ccc;
		a{
			display:block;
			width:100%;
			height:100%;
			background:#fff;
			text-align:center;
			font-size:$font-size3;
			color:#979797;
		}
		&.on{
			border-color:$point-color;
			a{
				background:$point-color;
				color:#fff;
			}
		}
	}
}
.tab-type4{
	display:inline-block;
	font-size:0;
	vertical-align:middle;
	li{
		display:inline-block;
		vertical-align:middle;
		font-size:$font-size2;
		&:before{
			display:inline-block;
			content:'';
			width:1px;
			height:12px;
			margin:0 8px;
			background:#ccc;
			vertical-align:middle;
		}
		&:first-child:before{
			display:none;
		}
		&.on a{
			color:$point-color;
		}
	}
}

.title-type{
	font-size:$font-size3;
	color:#000;
	font-weight:600;
}

.title-type2{
	font-size:$font-size3;
	&:before{
		display:inline-block;
		content:'';
		width:2px;
		height:$font-size3;
		margin-right:5px;
		background:$point-color;
		vertical-align:middle;
	}
}
[class^='title-wrap']{
	position:relative;
	.side{
		position:absolute;
		right:$padding-w;
		top:50%;
		transform:translateY(-50%);
	}
	.btn-filter{
		color:$point-color;
		font-size:$font-size3;

		&.on [class^='btn-ico']{
			transform:rotate(180deg);
		}
	}
}

.title-wrap2{
	padding:7px $padding-w;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	background:#f3f3f3;

	&.v2{
		border-color:#464c56;
		background-color:#464c56;
		padding-left:0;
		padding-right:0;
		text-align:center;

		.title-type{
			color:#fff;
		}
	}
}

.tag-txt{
	display:inline-block;
	width:58px;
	height:22px;
	background:#000;
	border:1px solid #000;
	line-height:18px;
	text-align:center;
	color:#fff;
	font-size:$font-size;
	&.v2{
		border-color:#707070;
		color:#707070;
		background:#fff;
	}
	&.v3{
		border-color:$point-color;
		color:$point-color;
		background:#fff;
	}
}
.img-box{
	img{
		width:100%;
	}
}

.list-top{
	display:table;
	table-layout:fixed;
	width:100%;
	padding:10px $padding-w;
	.total{
		display:inline-block;
		vertical-align:middle;
		em{
			color:$point-color;
		}
	}
	.side{
		display:table-cell;
		width:50%;
		text-align:right;
		vertical-align:middle;
		&:first-child{
			text-align:left;

			.btn-type{
				width:70px;
			}
		}
		&:after{
			display:inline-block;
			content:'';
			height:100%;
			vertical-algin:middle;
		}

		.btn-type{
			width:95%;
			height:27px;
			line-height:25px;
			font-size:$font-size2;
		}
	}
}

.star-rating{
	font-size:$font-size3;
	color:#a9a9a9;
	.star-score{
		color:#efae00;
	}
}

.pop-layer{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);

	.pop-wrap{
		position:absolute;
		top:50%;
		left:50%;
		width:98%;
		border-radius:3px;
		transform:translate(-50%,-50%);

		.title{
			padding:0 $padding-w;
			background:$point-color;
			color:#fff;
			line-height:45px;
			font-size:$font-size5;
			font-weight:400;
		}

		.pop-content{
			padding:15px 10px;
			background:#fff;
		}

		.btn-close{
			position:absolute;
			top:11px;
			right:10px;
			i{
				text-indent:-999999px;
			}
		}
	}
}

.txt-caution{
	font-size:$font-size;
	color:$red-color;
}


.info-box{
	padding:0 $padding-w 15px;
	background:#f3f3f3;
	text-align:right;
	p{
		text-align:left;
	}
	a{
		width:140px;
		margin-top:10px;
		font-size:$font-size2;
		height:27px;
		line-height:25px;
	}

	+ .form-group-select{
		padding-bottom:0;
		border-top:1px solid #d7d7d7;
		select{
			height:28px;
			font-size:$font-size2;
		}
	}
}

.info-box2{
	border-bottom:1px solid #ccc;
	dt{
		padding:10px $padding-w;
		position:relative;
		.input-custom-checkbox{
			position:absolute;
			right:$padding-w;
			top:12px;
		}
	}
	dd{
		overflow-y:auto;
		max-height:170px;
		border-top:1px solid #ccc;
		padding:20px $padding-w;
		color:#707070;
	}
}

.js-tab-cont{
	display:none;
	&.on{
		display:block;
	}
}

.js-fixed-top .js-sticky-navi{
	position:fixed;
	top:103px;
	left:0;
	width:100%;
	z-index:10;
	background:#fff;
}

div.list-no-data{
	padding:110px 0;
	border-bottom:1px solid #ccc;
	text-align:center;
	color:#979797;
}