<!DOCTYPE HTML>
<html lang="ko">
<head>
	<?php include '../common/meta.php'?>
</head>
<body>
<?php include '../common/guide_nav.html'?>

<div id="wrap">
	<!--header-->
	<?php include '../common/header.php'?>
	<!--//header-->
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<h3 class="guide-tit" id="btn">btn</h3>
			<h4 class="guide-tit">기본</h4>

			<a href="#" class="btn-xsmall">XS버튼</a> <br> <br>
			<a href="#" class="btn-xsmall">XS버튼 arrow<i class="btn-ico-arrow"></i></a>
			<br> <br>

			<a href="#" class="btn-small">S버튼</a>
			<a href="#" class="btn-small v2">.btn-small.v2</a>
			<a href="#" class="btn-small v3">S버튼.3</a>
			<a href="#" class="btn-small v4">S버튼_v4</a>

			<a href="#" class="btn-small v2">XS버튼 arrow<i class="btn-ico-arrow2"></i></a>
			<a href="#" class="btn-small">XS버튼 arrow<i class="btn-ico-arrow3"></i></a>
			<br> <br>

			<a href="#" class="btn-medium">m버튼</a>
			<a href="#" class="btn-medium v2">m버튼</a>
			<a href="#" class="btn-medium v3">m버튼</a>
			<a href="#" class="btn-medium v4">m버튼</a>
			<a href="#" class="btn-medium v5">m버튼</a>
			<br> <br>

			<a href="#" class="btn-large">l버튼</a>
			<a href="#" class="btn-large v2">l버튼</a>
			<a href="#" class="btn-large v3">l버튼</a>
			<a href="#" class="btn-large v4">l버튼</a>
			<br> <br>

			<a href="#" class="btn-link point-color">1:1 빠른 상담 &gt; </a>

			<br><br>
			<h4 class="guide-tit">btn-gif 이미지버튼</h4>
			<a href="#" class="btn-gif"><img src="//gscdn.hackers.co.kr/cpa/img/lecture/btn_deadline.gif" alt="마감임박 수강신청" width="149" height="40"></a>
			<br> <br>

			<h3 class="guide-tit">btn-wrap</h3>
			<h4 class="guide-tit">btn-wrap-center</h4>

			<div class="btn-wrap-center">
				<a href="#" class="btn-large v2">l버튼</a>
				<a href="#" class="btn-large">l버튼</a>
			</div>
			<h4 class="guide-tit">btn-wrap-right</h4>
			<div class="btn-wrap-right">
				<a href="#" class="btn-small">S버튼</a>
				<a href="#" class="btn-small v2">S버튼</a>
			</div>
			<h4 class="guide-tit">btn-wrap-left</h4>
			<div class="btn-wrap-left">
				<a href="#" class="btn-small">질문하기</a>
				<a href="#" class="btn-small v2">내 질문내역 확인하기</a>
			</div>
			<br><br>

			<h3 class="guide-tit">rating star</h3>
			<h4 class="guide-tit">rating star view</h4>
			<span class="rating-star-view">
				<span class="star-default">
					<strong class="star-score" style="width:20%;">
						<span class="blind">별1개</span>
					</strong>
				</span>
			</span><hr>
			<span class="rating-star-view">
				<span class="star-default">
					<strong class="star-score" style="width:40%;">
						<span class="blind">별2개</span>
					</strong>
				</span>
			</span><hr>
			<span class="rating-star-view">
				<span class="star-default">
					<strong class="star-score" style="width:60%;">
						<span class="blind">별3개</span>
					</strong>
				</span>
			</span><hr>
			<span class="rating-star-view">
				<span class="star-default">
					<strong class="star-score" style="width:80%;">
						<span class="blind">별4개</span>
					</strong>
				</span>
			</span><hr>
			<span class="rating-star-view">
				<span class="star-default">
					<strong class="star-score" style="width:100%;">
						<span class="blind">별5개</span>
					</strong>
				</span>
			</span>


			<br><br>
			<h3 class="guide-tit">sp_btn.png</h3>
			<div style="background:#f00">
				<img src="//gscdn.hackers.co.kr/ecpa/img/common/sp_btn.png" alt="">
			</div>


		</div>
		
		<!--//작업영역-->

	</div>
	<!--footer-->
	<?php include '../common/footer.php'?>
	<!--//footer-->
</div>
</body>
</html>