<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>마크업가이드</title>
	<meta name="robots" content="ALL">
	<meta name="description" content="HACKERS">
	<meta name="keywords" content="HACKERS">
	<link rel="shortcut icon" href="//gscdn.hackers.co.kr/hackerseducation/img/common/favicon.ico">

	<!--<meta property="og:type" content="website">
	<meta property="og:title" content="외국어인강 No.1 해커스인강">
	<meta property="og:description" content="토익,토플,토스 스타강사 인강+교재0원!">
	<meta property="og:url" content="http://www.champstudy.com">
	<meta property="og:image" content="http://gscdn.hackers.co.kr/champ/files/banner/imglib_files/banner/imglib/champ_PC_ogtag_450x300_0412.jpg">
	<meta name="google-site-verification" content="cwF8FxGjnasm7V14yCYVcmz3EvCRQaHyhQ-_Z4ldMeM" /><link rel="alternate" media="only screen and (max-width: 640px)"  href="http://m.champ.hackers.com/">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_core/images/ico/champstudy/apple-touch-icon-144-precomposed.png">-->

	<link rel="stylesheet" type="text/css" href="../assets/css/common.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/common/bxslider.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/sub.css"><!--메인에는 sub.css 호출하지않음-->
	<script type="text/javascript" src="../assets/plugins/jquery/1.11.2/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/jquery-bxslider/4.1.2/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="../assets/js/bxslider.js"></script>
	<script type="text/javascript" src="../assets/js/ui.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="guide.css">
<script type="text/javascript" src="guide.js"></script>
<div id="sidebar">
	<strong>
		<a href="guide.html">마크업 가이드</a>
	</strong>

	<ul class="nav">
		<li class="on">
			<a href="layout-sub.html" target="_blank">layout sub (새창)</a>
			<!--ul>
				<li><a href="layout-sub.html" target="_blank">sub</a></li>
			</ul-->
		</li>
		<li>
			<a href="title.html">Title</a>
		</li>
		<li>
			<a href="table.html">Table</a>
			<ul>
				<li><a href="#board-wrap">board type</a></li>
				<li><a href="#board-detail-wrap">board detail</a></li>
				<li><a href="#board-form-wrap">board write</a></li>
				<li><a href="#table-wrap">table type</a></li>
				<li><a href="#faq-list-wrap">faq type</a></li>
				<li><a href="#paginate">paginate</a></li>

			</ul>
		</li>
		<li>
			<a href="btn.html">Btn</a>
		</li>
		<li>
			<a href="icon.html">Icon</a>
		</li>
		<li>
			<a href="tab.html">Tab</a>
		</li>
		<li>
			<a href="form.html">Form</a>
		</li>
		<li>
			<a href="description.html">Description</a>
		</li>
		<!--<li>
			<a href="layer_layout">layer_layout</a>
		</li>-->
		<li>
			<a href="layer.html">Layer Popup</a>
		</li>
		<li>
			<a href="bxslide.html">Bx Slide</a>
		</li>
		<li>
			<a href="script.html">Script</a>
		</li>
		<li>
			<a href="https://github.com/leehyemimi/work/blob/master/template/common/scss.md" target="_blank">SCSS GUIDE (새창)</a>
		</li>
	</ul>
</div>

<div id="wrap">
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<h3 class="guide-tit" id="description-list">description list</h3>
			<h4 class="guide-tit">list-txt-type</h4>
			<ul class="list-txt-type">
				<li>
					강의 수강 후 강의 내용에 대한 수강생들의 솔직한 이야기입니다. 수강후기 작성 시 1,000포인트가 적립되며, 포인트는 수강후기 작성 다음 날(주말/공휴일 제외)
					일괄적으로 적립됩니다.
				</li>
				<li>욕설 및 비방/도배글, 강의내용과 상관엇는 서비스에 대해 작성한 글들은 삭제될 수 있습니다. </li>
				<li> 강의오류 및 환불, 기타 서비스 이용문의 등은 고객센터에서 문의해 주시기 바랍니다
					<a href="#" class="btn-link point-color">1:1 빠른 상담 &gt; </a>
				</li>
			</ul>
			<h4 class="guide-tit">list-txt-type.v2</h4>
			<ul class="list-txt-type v2">
				<li>
					<strong>강조</strong>강의 수강 후 강의 내용에 대한 수강생들의 솔직한 이야기입니다. 수강후기 작성 시 1,000포인트가 적립되며, 포인트는 수강후기 작성 다음 날(주말/공휴일 제외)
					일괄적으로 적립됩니다.
				</li>
				<li>욕설 및 비방/도배글, 강의내용과 상관엇는 서비스에 대해 작성한 글들은 삭제될 수 있습니다. </li>
				<li> 강의오류 및 환불, 기타 서비스 이용문의 등은 고객센터에서 문의해 주시기 바랍니다
					<a href="#" class="btn-link point-color">1:1 빠른 상담 &gt; </a>
				</li>
			</ul>
			<h4 class="guide-tit">list-txt-type.v3</h4>
			<ul class="list-txt-type v3">
				<li>강의 수강 후 강의 내용에 대한 수강생들의 솔직한 이야기입니다. 수강후기 작성 시 1,000포인트가 적립되며, 포인트는 수강후기 작성 다음 날(주말/공휴일 제외)
					일괄적으로 적립됩니다.	</li>
				<li>욕설 및 비방/도배글, 강의내용과 상관엇는 서비스에 대해 작성한 글들은 삭제될 수 있습니다. </li>
				<li> 강의오류 및 환불, 기타 서비스 이용문의 등은 고객센터에서 문의해 주시기 바랍니다
					<a href="#" class="btn-link point-color">1:1 빠른 상담 &gt; </a>
				</li>
			</ul>
			<h4 class="guide-tit">list-txt-type2</h4>
			<ul class="list-txt-type2">
				<li>
					강의 수강 후 강의 내용에 대한 수강생들의 솔직한 이야기입니다. 수강후기 작성 시 1,000포인트가 적립되며, 포인트는 수강후기 작성 다음 날(주말/공휴일 제외)
					일괄적으로 적립됩니다.
				</li>
				<li>욕설 및 비방/도배글, 강의내용과 상관엇는 서비스에 대해 작성한 글들은 삭제될 수 있습니다. </li>
				<li> 강의오류 및 환불, 기타 서비스 이용문의 등은 고객센터에서 문의해 주시기 바랍니다
					<a href="#" class="btn-link point-color">1:1 빠른 상담 &gt; </a></li>
			</ul>

			<h4 class="guide-tit">list-txt-type 인데 1줄일 경우</h4>
			<p class="list-txt-type">강좌 : 전산세무 2급 이론+실기 (2018)</p>
			<p class="list-txt-type2">강좌 : 전산세무 2급 이론+실기 (2018)</p>
			<br><br>
			<h4 class="guide-tit">list-definition-list</h4>
			<dl class="list-definition-list">
				<dt>1.  ID공유</dt>
				<dd>하나의 ID로 여러 명이 강의를 공유하여 수강하는 것을 말합니다. ID공유자는 IP이력, 접속한 컴퓨터, 접속되는 시간, 동시 접속 등을 고려하여 추출합니다. </dd>
				<dt>2. 강의 불법 녹화 또는 녹음</dt>
				<dd>해커스 경영아카데미의 강의를 녹화 또는 녹음하거나, 녹화 또는 녹음을 시도하는 행위를 말합니다. 강의 실행 중에 녹화 또는 녹음프로그램을 실행할 경우,<br>
					프로그램 종료와 함께 녹화나 녹음 시도 이력이 남습니다. </dd>
				<dt>3. 컨텐츠 불법 공유(강의/학습자료)</dt>
				<dd>
					해커스 경영아카데미의 컨텐츠(강의/학습자료)를 해커스 경영아카데미의 사전 승낙없이 다수의 사람에게 유포하거나 타인과 공유하는 행위를 말합니다.<br>
					포털사이트와 P2P 사이트 및 컨텐츠의 공유가 가능한 주요 웹사이트를 항시 모니터링하고 있으며, 해커스 경영아카데미의 컨텐츠가 발견될 시에는<br>
					사이트 폐쇄와 법적인 제재를 받을 수 있습니다. 
				</dd>
				<dt>4. 컨텐츠의 불법 복제/판매</dt>
				<dd>
					해커스 경영아카데미의 컨텐츠(강의/학습자료)를 해커스 경영아카데미의 사전 승낙 없이 무상으로 복제/유통하거나 유상으로 판매 또는 공유하는 행위 등을 말합니다.<br>
					컨텐츠의 불법 복제와 유통행위에 대해서는 고발 시, 저작권법 136조 제1항에 의거 5년 이하의 징역이나 5천만원 이하의 벌금형에 처해지게 됩니다.

				</dd>
			</dl>
			<h4 class="guide-tit">list-row-type</h4>
			<ul class="list-row-type">
				<li><a href="#" class="on">강좌소개</a></li>
				<li><a href="#">교수님께 질문하기 </a></li>
				<li><a href="#">수강후기</a></li>
			</ul>
			<h4 class="guide-tit">sub-txte</h4>
			<p class="sub-txt">총 <em>120건</em>의 이벤트가 있습니다.</p>
			<h4 class="guide-tit">list-number-type</h4>
			<ol class="list-number-type">
				<li>
					<em>1</em><a href="#">[배송 조회하는 방법]</a>
				</li>
				<li>
					<em>2</em><a href="#">일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.일시정지/수강연장/재수강 대해 자세히 알려주세요.</a>
				</li>
				<li>
					<em>3</em><a href="#">교재 포함된 강의를 신청했습니다. </a>
				</li>
				<li>
					<em>4</em><a href="#">[배송 조회하는 방법]</a>
				</li>
				<li>
					<em>5</em><a href="#">일시정지/수강연장/재수강 대해 자세히 알려주세요.</a>
				</li>
				<li>
					<em>6</em><a href="#">교재 포함된 강의를 신청했습니다. </a>
				</li>
				<li>
					<em>7</em><a href="#">[배송 조회하는 방법]</a>
				</li>
				<li>
					<em>8</em><a href="#">일시정지/수강연장/재수강 대해 자세히 알려주세요.</a>
				</li>
				<li>
					<em>9</em><a href="#">교재 포함된 강의를 신청했습니다. </a>
				</li>
				<li>
					<em>10</em><a href="#">교재 포함된 강의를 신청했습니다. </a>
				</li>
			</ol>

			<h4 class="guide-tit">info-box</h4>
			<div class="info-box">
				강의 수강 신청 시 수강생 혜택을 받을 수 있습니다.<br>
				수강생 확인증과 신분증을 함께 지참하셔야 수강생 혜택을 받을 수 있습니다.
				<a href="#" class="btn-medium">수강생 확인증 출력하기  </a>
			</div><br>
			<div class="info-box">
				<dl>
					<dt>해커스 경영아카데미 쿠폰은?</dt>
					<dd>강의신청이나 수강 연장 시에 현금처럼 사용이 가능한 해커스 경영아카데미의 결제용 쿠폰입니다.</dd>
				</dl>
				<a href="#" class="btn-medium">내 쿠폰 확인/쿠폰 등록하기</a>
			</div>
			
			<h4 class="guide-tit">동의글_box</h4>
			<div class="info-box2">
				<div class="info-box-inner">
					<div class="info-box-title">
						개인정보 처리업무 위착 동의 안내
						<span class="side"><a href="#" class="btn-link point-color">바로가기 &gt;</a></span>
					</div>
					<div class="info-box-text">
						본 상품의 요금 결제 처리를 위하여 결제 관련 개인정보의 위탁 처리가 필요합니다.<br />
						개인정보 위탁에 대하여 거부할 권리가 있으며, 거부 시 상품 구매에 제한을 받을 수 있습니다.<br />
						○ 요금결제 관련<br />
						- 개인정보를 제공받는 자 : ㈜엘지유플러스<br />
						- 제공정보의 이용목적 : 상품 또는 서비스의 구매 및 요금 결제<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
					</div>
				</div>
				<div class="agree-box">
					<label class="input-sp">
						<input type="checkbox"><i></i>
						<span class="input-txt">해커스 경영아카데미 학원 결제 관련 ‘개인정보 처리업무 위탁 안내사항’을 확인하였으며, 이에 동의합니다.</span>
					</label>
				</div>
			</div>
			
			<h4 class="guide-tit">동의글_box(no-scroll)</h4>
			<div class="info-box2 no-scroll">
				<div class="info-box-inner">
					<div class="info-box-text">
						본 상품의 요금 결제 처리를 위하여 결제 관련 개인정보의 위탁 처리가 필요합니다.<br />
						개인정보 위탁에 대하여 거부할 권리가 있으며, 거부 시 상품 구매에 제한을 받을 수 있습니다.<br />
						○ 요금결제 관련<br />
						- 개인정보를 제공받는 자 : ㈜엘지유플러스<br />
						- 제공정보의 이용목적 : 상품 또는 서비스의 구매 및 요금 결제<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
						- 제공하는 개인정보 항목 : 신용카드종류, 카드번호, 유효기간, 비밀번호, 할부기간, 전화번호<br />
					</div>
				</div>
				<div class="agree-box">
					<label class="input-sp">
						<input type="checkbox"><i></i>
						<span class="input-txt">해커스 경영아카데미 학원 결제 관련 ‘개인정보 처리업무 위탁 안내사항’을 확인하였으며, 이에 동의합니다.</span>
					</label>
				</div>
			</div>
			
			<h4 class="guide-tit">안내글_box</h4>
			<div class="info-box2">
				<div class="info-box-inner">
					<div class="info-box-title">꼭 확인해주세요!</div>
					<div class="info-box-text">
						<ul>
							<li>2015년 9월 1일(화)부터 크롬 브라우저를 통한 결제가 제한되며, 크롬과 Windows 외에 다른 운영체제(가상화 환경 포함) 및 크롬과 Internet Explorer외의<br />인터넷 브라우저에서는 강의재생 및 일부 서비스가 제한됩니다. 이 점을 꼭 확인 후 수강 결제를 진행해 주세요.</li>
							<li>환불 시, 이용한 무료 혜택 서비스 및 상품의 정가를 환불금액에서 공제한 후 지급됩니다.</li>
							<li>환불신청과 함께 이용하지 않은 무료 제공 상품을 반품한 경우, 상품에 하자 여부 확인 및 공제 후 환불금액이 지급됩니다.</li>
							<li>강의 시간표는 사정에 의해 시간과 선생님이 변경될 수 있습니다.</li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<br>
		</div>
		<!--//작업영역-->

	</div>
</div>
</body>
</html>