<!DOCTYPE HTML>
<html lang="ko">
<head>
	<?php include '../common/meta.php'?>
</head>
<body>
<?php include '../common/guide_nav.html'?>

<div id="wrap">
	<!--header-->
	<?php include '../common/header.php'?>
	<!--//header-->
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<h3 class="guide-tit">Form</h3>
			<h4 class="guide-tit">input checkbox</h4>
			<div>
				<label class="input-sp">
					<input type="checkbox"><i></i>
					<span class="input-txt">체크박스_기본</span>
				</label>
				<br>
				<br>
				<label class="input-sp right">
					<span class="input-txt">체크박스_기본</span>
					<input type="checkbox"><i></i>
				</label>
				<br>
				<br>
				<label class="input-sp long">
					<input type="checkbox"><i></i>
					<span class="input-txt">
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
					</span>
				</label>

			</div>
			<br>
			<h4 class="guide-tit">input radio</h4>
			<div>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>

			</div>
			<br>
			<h4 class="guide-tit">sp_input.png</h4>
			<div style="background:#f00">
				<img src="//gscdn.hackers.co.kr/ecpa/img/common/sp_input.png" alt="">
			</div>
			<br>
			<h3 class="guide-tit">Form Group</h3>
			<h4 class="guide-tit">search box</h4>
			<div class="form-group-search">
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
			<br>
			<div class="form-group-search">
				<div class="btn-box">
					<a href="#" class="btn-small">질문하기</a>
					<a href="#" class="btn-small v2">내 질문내역 확인하기</a>
				</div>
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
			<br>
			<div class="form-group-search v2">
				<div class="btn-box">
					<a href="#" class="btn-small">합격후기 작성하기</a>
					<a href="#" class="btn-small v2">내후기 확인하기</a>
					<a href="#" class="btn-small v2">전체후기 확인하기</a>
				</div>
				<span class="sel-category">
					<select>
						<option>카테고리 선택</option>
					</select>
				</span>
				<select>
					<option>제목</option>
				</select>
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
			<br>

			<div class="form-group-search full-type">
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
		</div>
		<!--//작업영역-->

	</div>
	<!--footer-->
	<?php include '../common/footer.php'?>
	<!--//footer-->
</div>
</body>
</html>