<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>마크업가이드</title>
	<meta name="robots" content="ALL">
	<meta name="description" content="HACKERS">
	<meta name="keywords" content="HACKERS">
	<link rel="shortcut icon" href="//gscdn.hackers.co.kr/hackerseducation/img/common/favicon.ico">

	<!--<meta property="og:type" content="website">
	<meta property="og:title" content="외국어인강 No.1 해커스인강">
	<meta property="og:description" content="토익,토플,토스 스타강사 인강+교재0원!">
	<meta property="og:url" content="http://www.champstudy.com">
	<meta property="og:image" content="http://gscdn.hackers.co.kr/champ/files/banner/imglib_files/banner/imglib/champ_PC_ogtag_450x300_0412.jpg">
	<meta name="google-site-verification" content="cwF8FxGjnasm7V14yCYVcmz3EvCRQaHyhQ-_Z4ldMeM" /><link rel="alternate" media="only screen and (max-width: 640px)"  href="http://m.champ.hackers.com/">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_core/images/ico/champstudy/apple-touch-icon-144-precomposed.png">-->

	<link rel="stylesheet" type="text/css" href="../assets/css/common.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/common/bxslider.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/sub.css"><!--메인에는 sub.css 호출하지않음-->
	<script type="text/javascript" src="../assets/plugins/jquery/1.11.2/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/jquery-bxslider/4.1.2/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="../assets/js/bxslider.js"></script>
	<script type="text/javascript" src="../assets/js/ui.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="guide.css">
<script type="text/javascript" src="guide.js"></script>
<div id="sidebar">
	<strong>
		<a href="guide.html">마크업 가이드</a>
	</strong>

	<ul class="nav">
		<li class="on">
			<a href="layout-sub.html" target="_blank">layout sub (새창)</a>
			<!--ul>
				<li><a href="layout-sub.html" target="_blank">sub</a></li>
			</ul-->
		</li>
		<li>
			<a href="title.html">Title</a>
		</li>
		<li>
			<a href="table.html">Table</a>
			<ul>
				<li><a href="#board-wrap">board type</a></li>
				<li><a href="#board-detail-wrap">board detail</a></li>
				<li><a href="#board-form-wrap">board write</a></li>
				<li><a href="#table-wrap">table type</a></li>
				<li><a href="#faq-list-wrap">faq type</a></li>
				<li><a href="#paginate">paginate</a></li>

			</ul>
		</li>
		<li>
			<a href="btn.html">Btn</a>
		</li>
		<li>
			<a href="icon.html">Icon</a>
		</li>
		<li>
			<a href="tab.html">Tab</a>
		</li>
		<li>
			<a href="form.html">Form</a>
		</li>
		<li>
			<a href="description.html">Description</a>
		</li>
		<!--<li>
			<a href="layer_layout">layer_layout</a>
		</li>-->
		<li>
			<a href="layer.html">Layer Popup</a>
		</li>
		<li>
			<a href="bxslide.html">Bx Slide</a>
		</li>
		<li>
			<a href="script.html">Script</a>
		</li>
		<li>
			<a href="https://github.com/leehyemimi/work/blob/master/template/common/scss.md" target="_blank">SCSS GUIDE (새창)</a>
		</li>
	</ul>
</div>

<div id="wrap">
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<h3 class="guide-tit">Form</h3>
			<h4 class="guide-tit">input checkbox</h4>
			<div>
				<label class="input-sp">
					<input type="checkbox"><i></i>
					<span class="input-txt">체크박스_기본</span>
				</label>
				<br>
				<br>
				<label class="input-sp right">
					<span class="input-txt">체크박스_기본</span>
					<input type="checkbox"><i></i>
				</label>
				<br>
				<br>
				<label class="input-sp long">
					<input type="checkbox"><i></i>
					<span class="input-txt">
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
						체크박스-긴텍스트타입
					</span>
				</label>

			</div>
			<br>
			<h4 class="guide-tit">input radio</h4>
			<div>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>
				<label class="input-sp">
					<input type="radio"><i></i>
					<span class="input-txt">라디오_기본</span>
				</label>

			</div>
			<br>
			<h4 class="guide-tit">sp_input.png</h4>
			<div style="background:#f00">
				<img src="//gscdn.hackers.co.kr/ecpa/img/common/sp_input.png" alt="">
			</div>
			<br>
			<h3 class="guide-tit">Form Group</h3>
			<h4 class="guide-tit">search box</h4>
			<div class="form-group-search">
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
			<br>
			<div class="form-group-search">
				<div class="btn-box">
					<a href="#" class="btn-small">질문하기</a>
					<a href="#" class="btn-small v2">내 질문내역 확인하기</a>
				</div>
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
			<br>
			<div class="form-group-search v2">
				<div class="btn-box">
					<a href="#" class="btn-small">합격후기 작성하기</a>
					<a href="#" class="btn-small v2">내후기 확인하기</a>
					<a href="#" class="btn-small v2">전체후기 확인하기</a>
				</div>
				<span class="sel-category">
					<select>
						<option>카테고리 선택</option>
					</select>
				</span>
				<select>
					<option>제목</option>
				</select>
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
			<br>

			<div class="form-group-search full-type">
				<input type="text">
				<a href="#" class="btn-search">검 색</a>
			</div>
		</div>
		<!--//작업영역-->

	</div>
</div>
</body>
</html>