<!DOCTYPE HTML>
<html lang="ko">
<head>
	<?php include '../common/meta.php'?>
</head>
<body>
<?php include '../common/guide_nav.html'?>

<div id="wrap">
	<!--header-->
	<?php include '../common/header.php'?>
	<!--//header-->
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<h3 class="guide-tit" id="ico">ico</h3>
			<i class="ico-com"></i>
			<i class="ico-com point"></i>
			<i class="ico-com point2"></i>
			<i class="ico-com mobile"></i>
			<i class="ico-com pc"></i>
			<i class="ico-com movie"></i>
			<i class="ico-com new"></i>
			<i class="ico-com lock"></i>
			<i class="ico-com file"></i>

			<br><br>
			<h4 class="guide-tit">sp_ico.png</h4>
			<div style="background:#f00">
				<img src="//gscdn.hackers.co.kr/ecpa/img/common/sp_ico.png" alt="">
			</div>
		</div>
		<!--//작업영역-->

	</div>
	<!--footer-->
	<?php include '../common/footer.php'?>
	<!--//footer-->
</div>
</body>
</html>