<!DOCTYPE HTML>
<html lang="ko">
<head>
	<?php include '../common/meta.php'?>
</head>
<body>
<div id="wrap">
	<!--header-->
	<?php include '../common/header.php'?>
	<!--//header-->
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<ol class="sub-navi">
				<li>Home</li>
				<li>수강신청</li>
				<li>세무사</li>
			</ol>
			<div class="title-wrap">
				<h2 class="title-type">수강신청</h2>
				<p class="title-txt">
					<strong>홍길동</strong>님! 오늘도 해커스가 합격을 기원합니다!
					<a href="#" class="title-link"><i class="ico-com"></i>포인트 <span class="point-color">: 10,000 Point</span></a>
					<a href="#" class="title-link"><i class="ico-com point"></i>쿠폰 <span class="point-color">: 0매</span></a>
				</p>
			</div>
			작업영역작업영역
		</div>
		<!--//작업영역-->

	</div>
	<!--footer-->
	<?php include '../common/footer.php'?>
	<!--//footer-->
</div>
</body>
</html>