<!DOCTYPE HTML>
<html lang="ko">
<head>
	<?php include '../common/meta.php'?>
</head>
<body>
<?php include '../common/guide_nav.html'?>

<div id="wrap">
	<!--header-->
	<?php include '../common/header.php'?>
	<!--//header-->
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<h3 class="guide-tit" id="lnb">Lnb</h3>
			<ul class="lnb">
				<li>
					<a href="#">합격 커리큘럼</a>
				</li>
				<li class="on">
					<a href="#">합격 커리큘럼</a>
				</li>
			</ul>
			<br>
			<h3 class="guide-tit" id="tab">Tab</h3>
			<h4 class="guide-tit">tab-type</h4>
			<ul class="tab-type">
				<li>
					<a href="#">합격 커리큘럼</a>
				</li>
				<li class="on">
					<a href="#">합격 커리큘럼</a>
				</li>
			</ul>
			<br>
			<h4 class="guide-tit">tab-type2</h4>
			<ul class="tab-type2">
				<li class="row_first on">
					<a href="#">강의 결제 문의</a>
				</li>
				<li>
					<a href="#">자료 다운로드 문의</a>
				</li>
				<li>
					<a href="#">교재 문의</a>
				</li>
				<li>
					<a href="#">강의 결제 문의</a>
				</li>
				<li>
					<a href="#">강의 결제 문의</a>
				</li>
			</ul>
			<br>
			<ul class="tab-type2">
				<li class="row_first">
					<a href="#">강의 결제 문의</a>
				</li>
				<li class="on">
					<a href="#">자료 다운로드 문의</a>
				</li>
				<li>
					<a href="#">교재 문의</a>
				</li>
				<li>
					<a href="#">강의 결제 문의</a>
				</li>
				<li>
					<a href="#">강의 결제 문의</a>
				</li>
				<li class="row_first">
					<a href="#">강의 결제 문의</a>
				</li>
				<li>
					<a href="#">자료 다운로드 문의</a>
				</li>
				<li>
					<a href="#">교재 문의</a>
				</li>
				<li>
					<a href="#">강의 결제 문의</a>
				</li>
				<li>
					<a href="#">강의 결제 문의</a>
				</li>
			</ul>
			<br>
			<ul class="tab-type2 col4">
				<li class="row_first">
					<a href="#">전체보기</a>
				</li>
				<li class="on">
					<a href="#">강의영상 재생 불가</a>
				</li>
				<li>
					<a href="#">PC 수강</a>
				</li>
				<li>
					<a href="#">모바일 수강</a>
				</li>
				<li class="row_first">
					<a href="#">다운로드 수강</a>
				</li>
				<li>
					<a href="#">맥북 유저</a>
				</li>
				<li>
					<a href="#">해외거주 유저</a>
				</li>
				<li>
					<a href="#">사이트이용</a>
				</li>
			</ul>
		</div>
		<!--//작업영역-->

	</div>
	<!--footer-->
	<?php include '../common/footer.php'?>
	<!--//footer-->
</div>
</body>
</html>