<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>마크업가이드</title>
	<meta name="robots" content="ALL">
	<meta name="description" content="HACKERS">
	<meta name="keywords" content="HACKERS">
	<link rel="shortcut icon" href="//gscdn.hackers.co.kr/hackerseducation/img/common/favicon.ico">

	<!--<meta property="og:type" content="website">
	<meta property="og:title" content="외국어인강 No.1 해커스인강">
	<meta property="og:description" content="토익,토플,토스 스타강사 인강+교재0원!">
	<meta property="og:url" content="http://www.champstudy.com">
	<meta property="og:image" content="http://gscdn.hackers.co.kr/champ/files/banner/imglib_files/banner/imglib/champ_PC_ogtag_450x300_0412.jpg">
	<meta name="google-site-verification" content="cwF8FxGjnasm7V14yCYVcmz3EvCRQaHyhQ-_Z4ldMeM" /><link rel="alternate" media="only screen and (max-width: 640px)"  href="http://m.champ.hackers.com/">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_core/images/ico/champstudy/apple-touch-icon-144-precomposed.png">-->

	<link rel="stylesheet" type="text/css" href="../assets/css/common.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/common/bxslider.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/sub.css"><!--메인에는 sub.css 호출하지않음-->
	<script type="text/javascript" src="../assets/plugins/jquery/1.11.2/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/jquery-bxslider/4.1.2/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="../assets/js/bxslider.js"></script>
	<script type="text/javascript" src="../assets/js/ui.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="guide.css">
<script type="text/javascript" src="guide.js"></script>
<div id="sidebar">
	<strong>
		<a href="guide.html">마크업 가이드</a>
	</strong>

	<ul class="nav">
		<li class="on">
			<a href="layout-sub.html" target="_blank">layout sub (새창)</a>
			<!--ul>
				<li><a href="layout-sub.html" target="_blank">sub</a></li>
			</ul-->
		</li>
		<li>
			<a href="title.html">Title</a>
		</li>
		<li>
			<a href="table.html">Table</a>
			<ul>
				<li><a href="#board-wrap">board type</a></li>
				<li><a href="#board-detail-wrap">board detail</a></li>
				<li><a href="#board-form-wrap">board write</a></li>
				<li><a href="#table-wrap">table type</a></li>
				<li><a href="#faq-list-wrap">faq type</a></li>
				<li><a href="#paginate">paginate</a></li>

			</ul>
		</li>
		<li>
			<a href="btn.html">Btn</a>
		</li>
		<li>
			<a href="icon.html">Icon</a>
		</li>
		<li>
			<a href="tab.html">Tab</a>
		</li>
		<li>
			<a href="form.html">Form</a>
		</li>
		<li>
			<a href="description.html">Description</a>
		</li>
		<!--<li>
			<a href="layer_layout">layer_layout</a>
		</li>-->
		<li>
			<a href="layer.html">Layer Popup</a>
		</li>
		<li>
			<a href="bxslide.html">Bx Slide</a>
		</li>
		<li>
			<a href="script.html">Script</a>
		</li>
		<li>
			<a href="https://github.com/leehyemimi/work/blob/master/template/common/scss.md" target="_blank">SCSS GUIDE (새창)</a>
		</li>
	</ul>
</div>

<div id="wrap">
	<div id="content">

		<!--작업영역-->
		<div class="inner-box">
			<h3 class="guide-tit" id="board-wrap">board-wrap  (vertical default)</h3>
			<p>후에 가로형 타입 추가될 경우 board-wrap-horizontal 으로 만들기</p>
			<div class="board-wrap">
				<table>
					<caption class="blind">게시판이름</caption>
					<colgroup>
						<col>
						<col style="width:8%">
						<col style="width:10%">
						<col style="width:7%">
						<col style="width:17%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">강좌명</th>
							<th scope="col">교수님</th>
							<th scope="col">강의수</th>
							<th scope="col">학습기간</th>
							<th scope="col">강좌상세정보</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 </a>
								<i class="ico-com new"></i>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 (1) </a>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 (1) </a>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 (1) </a>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 (1) </a>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 (1) </a>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 (1) </a>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
						<tr>
							<td>
								<a href="#" class="txt-hidden">종합강좌에 속한 단과 강좌명 종합강좌에 속한 단과 강좌명 속한 단과 강좌명 (1) </a>
							</td>
							<td>이남호</td>
							<td>65강</td>
							<td>30일</td>
							<td><a href="#" class="btn-xsmall">상세정보 보기<i class="btn-ico-arrow"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br><br>
			<div class="board-wrap">
				<table>
					<caption class="blind">게시판이름</caption>
					<colgroup>
						<col style="width:8%">
						<col>
						<col style="width:12%">
						<col style="width:15%">
						<col style="width:10%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">번 호</th>
							<th scope="col">제 목</th>
							<th scope="col">상 태</th>
							<th scope="col">작성자</th>
							<th scope="col">조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><em class="tag-txt">공지</em></td>
							<td class="tl">
								<a href="#" class="txt-hidden"><strong>※ [교수님께 질문하기] 이용시, 유의사항 </strong></a>
							</td>
							<td></td>
							<td><strong>해커스 경영아카데미</strong></td>
							<td><strong>268</strong></td>
						</tr>
						<tr>
							<td>10</td>
							<td class="tl">
								<a href="#" class="txt-hidden">교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.</a>
							</td>
							<td>미납변</td>
							<td>박 * 영</td>
							<td>30일</td>
						</tr>
						<tr>
							<td>10</td>
							<td class="tl">
								<a href="#" class="txt-hidden">교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.교재 관련해서 문의드립니다.</a>
							</td>
							<td><em class="point-color">답변완료</em></td>
							<td>박 * 영</td>
							<td>30일</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="guide-tit" id="table-wrap">table-wrap  (vertical default)</h3>
			<div class="table-wrap">
				<table>
					<caption class="blind">테이블 제목</caption>
					<colgroup>
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">이름</th>
							<th scope="col">설치프로그램</th>
							<th scope="col">용도</th>
							<th scope="col">다운받기</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>수험용 프로그램</td>
							<td class="tl">KcLep</td>
							<td>전산세무 / 전산회계 실기학습용</td>
							<td>다운로드</td>
						</tr>
						<tr>
							<td>수험용 프로그램</td>
							<td class="tl">KcLep</td>
							<td>전산세무 / 전산회계 실기학습용</td>
							<td>다운로드</td>
						</tr>
						<tr>
							<td>수험용 프로그램</td>
							<td class="tl">KcLep</td>
							<td>전산세무 / 전산회계 실기학습용</td>
							<td>다운로드</td>
						</tr>
						<tr>
							<td>수험용 프로그램</td>
							<td class="tl">KcLep</td>
							<td>전산세무 / 전산회계 실기학습용</td>
							<td>다운로드</td>
						</tr>
						<tr>
							<td>수험용 프로그램</td>
							<td class="tl">KcLep</td>
							<td>전산세무 / 전산회계 실기학습용</td>
							<td>다운로드</td>
						</tr>
						<tr>
							<td>수험용 프로그램</td>
							<td class="tl">KcLep</td>
							<td>전산세무 / 전산회계 실기학습용</td>
							<td>다운로드</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br><br>
			<h3 class="guide-tit">table-wrap-horizontal</h3>
			<div class="table-wrap-horizontal">
				<table>
					<caption class="blind">수강확인</caption>
					<colgroup>
						<col style="width:26%;">
						<col>
					</colgroup>
					<tbody>
					<tr>
						<th scope="row">이름</th>
						<td>박소영</td>
					</tr>
					<tr>
						<th scope="row">수강과목</th>
						<td>[이벤트] 해커스 전강좌 프리패스</td>
					</tr>
					<tr>
						<th scope="row">수강기간</th>
						<td>
							2017년 06월 01일 ~<br>
							2017년 06월 30일
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<h3 class="guide-tit" id="faq-list-wrap">faq-list-wrap</h3>
			<div class="faq-wrap js-faq-wrap">
				<h4 class="title">전체보기</h4>
				<ul>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>
								<span>강의영상 재생 불가</span>
								<a href="#">
									<em><i class="ico-com question"></i><span class="blind">Question</span></em>
									수강취소와 환불과정은 어떻게 이루어지나요?
								</a>
							</dt>
							<dd>
								<em><i class="ico-com answer"></i><span class="blind">Answer</span></em>
								Aqua 플레이어 재생 끊김 및 음성/영상 출력 이상현상 발생 시 조치방안 <br>
								AquaPlayer 설치되어 있는 상태에서  강의 재생 시 설치 얼럿 발생하여 설치 진행 후 해당경로 진입 시<br>
								오른쪽 이미지와 같이 Conflict.1 폴더가 생성이 되어 강의재생이 되지 않는 현상<br>
								→ 해결방안 : 제어판 > 프로그램 제거 > AquaPlayer 제거 > 컴퓨터 > 로컬 디스크 (C:) > Program Files (x86) > <br>
								AquaNPlayer 폴더 삭제 > AquaPlayer 재 설치 후 강의를 재생
								<div class="btn-wrap-left">
									<a href="#" class="btn-xsmall v4">수정</a>
									<a href="#" class="btn-xsmall v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
			<br><br>
			<h3 class="guide-tit" id="paginate">paginate</h3>
			<p> &gt; 버튼과 &gt;&gt;버튼이 &lt;버튼, &lt;&lt;버튼에 비해 세로사이즈 1px작음 ->추후 검수시 작업해야할 때 이미지수정 (영역은같게작업)</p>
			<div class="paginate-wrap">
				<a href="#" class="btn-page-first"><span class="blind">맨처음</span></a>
				<a href="#" class="btn-page-prev"><span class="blind">이전</span></a>
				<span class="btn-number-box">
					<em>1</em> <!-- 현재페이지 -->
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#">7</a>
					<a href="#">8</a>
					<a href="#">9</a>
					<a href="#">10</a>
				</span>
				<a href="#" class="btn-page-next"><span class="blind">다음</span></a>
				<a href="#" class="btn-page-last"><span class="blind">맨뒤로</span></a>
			</div>
			<br><br>
			<h3 class="guide-tit" id="board-detail-wrap">board-detail-wrap 게시글 상세 </h3>
			<dl class="board-detail-wrap">
				<dt>
					<strong>2018 세무사 1차 기출문제&답안</strong>
					<span>세무사</span>
				</dt>
				<dd class="info-area">
					<div class="info">
						<div class="side-l">
							<span>작성자  :  해커스 경영아카데미</span>
							<a href="#" class="btn-link point-color">주소복사 &gt;</a>
						</div>
						<div class="side-r">
							<span>조회수 : 100</span>
							<span>작성일 : 2017-07-28 14:49:18</span>
						</div>
					</div>
					<div class="lecture-info">
						<div class="img-box">
							<img src="//gscdn.hackers.co.kr/ecpa/img/temp/teacher_img.png" alt="">
						</div>
						<dl>
							<dt>
								<strong>이남호 교수님</strong>
								교수님 슬로건명
							</dt>
							<dd>해커스인강 기초영어 분야 강의평가 기준 1위(2014년 1월~10월)</dd>
							<dd class="btn-wrap-right">
								<a href="#" class="btn-xsmall">교수님 소개보기</a>
								<a href="#" class="btn-xsmall">동영상 강의보기</a>
								<a href="#" class="btn-xsmall">학원 강의보기</a>
							</dd>
						</dl>
					</div>
					<ul class="file-list">
						<li><a href="#"><i class="ico-com file"></i>세무사_1차_기출문제,답안.hwp  (31.4K),  2018-07-03 19:00:28</a></li>
						<li><a href="#"><i class="ico-com file"></i>세무사_1차_기출문제,답안.hwp  (31.4K),  2018-07-03 19:00:28</a></li>
					</ul>
				</dd>
				<dd class="view-area">
					안녕하세요. 해커스 경영아카데미 담당자 입니다.
					2018 세무사 1차 시험일정 공지 입니다.
				</dd>
				<dd class="btn-wrap-right">
					<a href="#" class="btn-small">수정</a>
					<a href="#" class="btn-small v2">삭제</a>
				</dd>
				<dd class="btn-wrap">
					<div class="side-l">
						<a href="#" class="btn-share-copy"><span class="blind">주소복사</span></a>
						<a href="#" class="btn-share-facebook"><span class="blind">페이스북 공유</span></a>
						<a href="#" class="btn-share-twitter"><span class="blind">트위터 공유</span></a>
						<a href="#" class="btn-share-kakao"><span class="blind">카카오스토리 공유</span></a>
					</div>
					<div class="side">
						<a href="#" class="btn-small">수정</a>
						<a href="#" class="btn-small v2">삭제</a>
					</div>
				</dd>
			</dl>
			<div class="board-comment-wrap">
				<strong class="title">댓글<em>200개</em></strong>
				<ul class="list-comment">
					<li>
						<dl class="item-comment">
							<dt>
								<img src="//gscdn.hackers.co.kr/ecpa/img/temp/teacher_img.png" alt=""><strong>해커스 관리자</strong>
								<span>2017-07-28 14:49:18</span>
							</dt>
							<dd>
								회원님, 합격을 진심으로 축하드립니다.
								<div class="btn-wrap-right">
									<a href="#" class="btn-small v4">수정</a>
									<a href="#" class="btn-small v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl class="item-comment">
							<dt>
								<img src="//gscdn.hackers.co.kr/ecpa/img/temp/teacher_img.png" alt=""><strong>이남호 교수님</strong>
								<span>2017-07-28 14:49:18</span>
							</dt>
							<dd>
								회원님, 합격을 진심으로 축하드립니다.
								<div class="btn-wrap-right">
									<a href="#" class="btn-small v4">수정</a>
									<a href="#" class="btn-small v4">삭제</a>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl class="item-comment">
							<dt>
								<strong>홍길동</strong>
								<span>2017-07-28 14:49:18</span>
							</dt>
							<dd>
								회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.회원님, 합격을 진심으로 축하드립니다.
								<div class="btn-wrap-right">
									<a href="#" class="btn-small v4">수정</a>
									<a href="#" class="btn-small v4">삭제</a>
								</div>
							</dd>
						</dl>
						<div class="form-comment-box">
							<textarea cols="30" rows="5"></textarea>
							<div class="btn-wrap-right">
								<a href="#" class="btn-small v4">취소</a>
								<a href="#" class="btn-small v4">등록</a>
							</div>
						</div>
					</li>
				</ul>
				<div class="form-comment-box">
					<p><strong>댓글등록</strong>※ 타인을 비방하거나 개인정보를 유출하는 글의 게시를 삼가주세요.</p>
					<textarea cols="30" rows="5"></textarea>
					<div class="btn-wrap-right">
						<a href="#" class="btn-medium">등록</a>
					</div>
				</div>
			</div>
			<div class="btn-wrap-center">
				<a href="#" class="btn-medium v3">목록</a>
			</div>

			
			<h3 class="guide-tit" id="board-form-wrap">board-form-wrap 게시글 등록 </h3>
			<div class="board-form-wrap">
				<p class="user-text">※ 타인을 비방하거나 개인정보를 유출하는 글의 게시를 삼가주세요.</p>
				<table>
					<caption class="blind">게시글 쓰기</caption>
					<colgroup>
						<col style="width:9.5%;">
						<col>
					</colgroup>
					<tbody>
					<tr>
						<th scope="row">이 름</th>
						<td colspan="4">홍 길 동</td>
					</tr>
					<tr>
						<th scope="row">이 름</th>
						<td colspan="4"><input type="text" value="홍길동"></td>
					</tr>
					<tr>
						<th scope="row">카테고리</th>
						<td colspan="4">
							<select>
								<option>선택하세요</option>
							</select>
						</td>
					</tr>
					<tr>
						<th scope="row">카테고리</th>
						<td class="category-dual" colspan="4">
							<select>
								<option>선택</option>
								<option>공지사항</option>
								<option>당첨자 발표</option>
							</select>
							<select>
								<option>캠퍼스 선택</option>
							</select>
						</td>
					</tr>
					<tr>
						<th scope="row">제 목</th>
						<td class="subject-write" colspan="4">
							<input type="text" value="맥OS 이용자 플레이어 관련 문의드립니다.">
						</td>
					</tr>
					<tr>
						<th scope="row">휴대폰</th>
						<td class="phone-write" colspan="4">
							<select>
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="019">016</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="019">019</option>
							</select>
							<input type="text">
							<input type="text">
							<label class="input-sp">
								<input type="checkbox"><i></i>
								<span class="input-txt">SMS 수신동의</span>
							</label>
							<a href="#" class="btn-xsmall">약관보기<i class="btn-ico-arrow"></i></a>
						</td>
					</tr>
					<tr>
						<th scope="row">휴대폰</th>
						<td colspan="4">
							<input type="text" value="010-2565-9568">
							<label class="input-sp">
								<input type="checkbox"><i></i>
								<span class="input-txt">SMS 수신동의</span>
							</label>
							<a href="#" class="btn-xsmall">약관보기<i class="btn-ico-arrow"></i></a>
						</td>
					</tr>
					<tr>
						<th scope="row">이메일</th>
						<td class="email-write" colspan="4">
							<input type="text">
							<span>@</span>
							<select>
								<option value="naver.com">naver.com</option>
								<option value="nate.com">nate.com</option>
								<option value="cholian.net">cholian.net</option>
								<option value="hotmail.com">hotmail.com</option>
								<option value="korea.com">korea.com</option>
								<option value="dreamwiz.com">dreamwiz.com</option>
								<option value="empal.com">empal.com</option>
								<option value="hanmail.net">hanmail.net</option>
								<option value="daum.net">daum.net</option>
								<option value="gmail.com">gmail.com</option>
							</select>
							<label class="input-sp">
								<input type="checkbox"><i></i>
								<span class="input-txt">이메일 수신동의</span>
							</label>
							<a href="#" class="btn-xsmall">약관보기<i class="btn-ico-arrow"></i></a>
						</td>
					</tr>
					<tr>
						<th scope="row">이메일</th>
						<td  colspan="4">
							<input type="text" value="hackers2018@naver.com">
							<label class="input-sp">
								<input type="checkbox"><i></i>
								<span class="input-txt">이메일 수신동의</span>
							</label>
							<a href="#" class="btn-xsmall">약관보기<i class="btn-ico-arrow"></i></a>
						</td>
					</tr>
					<tr>
						<th scope="row">상담구분</th>
						<td colspan="4">
							<label class="input-sp">
								<input type="radio"><i></i>
								<span class="input-txt">방문 상담</span>
							</label>
							<label class="input-sp">
								<input type="radio"><i></i>
								<span class="input-txt">전화 상담 (인터넷 강의 상담은 전화 상담만 가능합니다.)</span>
							</label>
						</td>
					</tr>
					<tr>
						<th scope="row">문의 유형</th>
						<td>
							<label class="input-sp">
								<input type="radio"><i></i>
								<span class="input-txt">고객제안</span>
							</label>
						</td>
						<td>
							<label class="input-sp">
								<input type="radio"><i></i>
								<span class="input-txt">불평/불만</span>
							</label>
						</td>
						<td>
							<label class="input-sp">
								<input type="radio"><i></i>
								<span class="input-txt">칭찬합니다</span>
							</label>
						</td>
						<td>
							<label class="input-sp">
								<input type="radio"><i></i>
								<span class="input-txt">기타</span>
							</label>
						</td>
					</tr>
					<tr>
						<th scope="row">첨부파일</th>
						<td colspan="4">
							<span class="file-box">
								<label for="file_upload">파일 선택</label>
								<input type="file" id="file_upload">
							</span>
							<ul class="file-add-list">
								<li>
									<a href="#" class="file-add">세무사_1차_시험일정.hwp</a>
									<a href="#"><i class="ico-com file-close"></i></a>
								</li>
								<li>
									<a href="#" class="file-add">세무사_2차_시험일정.hwp</a>
									<a href="#"><i class="ico-com file-close"></i></a>
								</li>
								<li>
									<a href="#" class="file-add">세무사_3차_시험일정.hwp</a>
									<a href="#"><i class="ico-com file-close"></i></a>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th scope="row">상담희망<br>일시</th>
						<td class="calendar-write" colspan="4">
							<input type="text" value="2018-07-18">
							
							<i class="ico-com calendar2"></i>
							
							<select>
								<option>시간선택</option>
								<option>시간선택</option>
							</select>
							
							<ul class="list-txt-type v3">
								<li>상담 신청은 예약 시점에서 1일 후부터 예약 가능합니다. (당일 신청 불가)</li>
								<li>신청 시간에서 10분 지각 시 상담이 취소될 수 있으며, 무단 불참 시에는 예약일로부터 30일간 상담 서비스 이용이 불가능합니다.</li>
								<li>
									상담을 원하는 일자의 신청이 마감되었을 경우, 아래 학원 번호로 연락 주시기 바랍니다.<br>
									<span class="point-color">강남역 학원  |  02-111-1111 (월-토 09:00~22:00, 일 09:00~17:00)</span>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th scope="row">상담내용</th>
						<td colspan="4">
							<textarea cols="30" rows="10" placeholder="상담 내용을 입력해주세요."></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="5" class="editor">
							<img src="//gscdn.hackers.co.kr/ecpa/img/temp/img_editor.jpg" alt="">
						</td>
					</tr>
					</tbody>
				</table>


				<ul class="list-txt-type v3">
					<li>결제에 관한 확인은  “마이클래스 &gt; 내 강의실 &gt; 학원 수강내역”에서 가능합니다.</li>
					<li>기타 주문상품의 교환, 반품, 환불에 관한 문의는 "고객센터 &gt; 1:1 문의"와 "마이클래스 &gt; 결제관리 &gt; 환불문의"에서 신청 또는 상담이 가능합니다.</li>
				</ul>
				<div class="btn-wrap-center">
					<a href="#" class="btn-medium v3">등록</a>
					<a href="#" class="btn-medium v4">취소</a>
				</div>
			</div>


		</div>
		
		<!--//작업영역-->

	</div>
</div>
</body>
</html>