@charset "utf-8";
@import 'normalize', 'common';

@keyframes opacity{
	from{opacity: 0}
	to{opacity: 1}
}
@keyframes alphaEffect {
	0% {opacity: 1}
	50% {opacity: 0}
	100% {opacity: 1}
}
body{
	min-width: 320px;
	&.fix{
		overflow: hidden;
	}
}
.header{
	background-color: $base-color;
	padding: 0 0 6%;
	h1{
		padding: 15% 0;
		background: {
			image: $base-img-h1;
			repeat: no-repeat;
			position: 50% 0;
			size: 96% auto;
		}
		text-indent: -9999em;
	}
	.header-btn{
		background-color: #8f0027;
		padding: 10px 0;
		text-align: center;
		font-size: 1.438rem;
		a{
			display: inline-block;
			padding: 5px 30px 6px;
			border: 1px solid #fff;
			color: #fff;
			&:first-child,&.menu-btn{
				padding: 5px 20px 6px;
				background-color: #fff;
				color: #8f0027;
				margin: 0 3px 0 0;
			}
		}
	}
}
#content{
	//padding-bottom: 20px;
}
.btn{
	margin: 30px 0 0;
	text-align: center;
	font-size: 15px;
	letter-spacing: -1px;
	>a{
		display: inline-block;
		width: 155px;
		padding: 4px 0 7px;
		border: 1px solid #424242;
		background-color: #424242;
		color: #fff;
		&.prev{
			color: #424242;
			background: #fff;
		}
	}
	button{
		display:block;
		width: 100%;
		text-align:left;
		font-weight:bold;
		padding: 4px 1% 7px;
		line-height: 1.6;
		border-top: 2px solid $base-color;
		border-bottom: 2px solid $base-color;
		background-color: $base-color;
		color: #fff;
	}
	.btn-rcd {
		background: #ff8a00;
		border: 1px solid #ff8a00;
		border-radius: 30px;
	}

	.btn-rcd-ok {
		background: #fff;
		border: 1px solid #ff8a00;
		color: #ff8a00;
		border-radius: 30px;
		font-weight: bold;
	}

	.rcd-state {
		color: #383838;
		width: 120px;
		padding: 4px 0 7px;
		display: inline-block;
		&.playing, &.standby, &.complete {
			animation: alphaEffect ease-in 1s infinite;
			&::before {
				content: '';
				background: url(//gscdn.hackers.co.kr/champ/img/contents/shadowing/ToeflIntermediateSpeaking/sp_ico.png);
				background-size: 77px auto;
				display: inline-block;
				background-position: -29px -19px;
				width: 8px;
				height: 8px;
				vertical-align: middle;
				margin-right: 3px;
			}
		}
		&.standby {
			animation: none;
			&::before {
				background-position: -18px -18px;
				width: 8px;
				height: 10px;
				margin-right: 3px;
			}
		}
		&.complete {
			animation: none;
			&::before {
				background-position: 0 -20px;
				width: 10px;
				height: 8px;
				margin-right: 3px;
			}
		}
	}

}
.intro{
	height: 100%;
	background-color: $base-color;
	text-align: center;
	overflow: auto;
	.section{
		img{
			width:100%;
		}
		/*h1{
			padding: 6% 0;
			margin: 0 auto;
			background: {
				image: $base-img-logo;
				repeat: no-repeat;
				position: 50% 50%;
				size: 50% auto;
			}
			text-indent: -9999em;
		}
		h2{
			min-height: 160px;
			padding: 17% 0;
			margin: 0 auto;
			background: {
				image: $base-img-h2;
				repeat: no-repeat;
				position: 50% 50%;
				size: 80% auto;
			}
			text-indent: -9999em;
		}
		.intro-btn{
			position: relative;
			display: inline-block;
			padding: 25%;
			margin: 0 auto 10%;
			a{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: inline-block;
				background-color: #f8ef22;
				border: 6px solid #fff;
				border-radius: 50%;
				color: $base-color;
				font: {
					size: 3.438rem;
				}
				box-shadow: 1px 4px 0px 4px #d6d6d6;
				span{

					display: table;
					width: 100%;
					height: 100%;
					strong{
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}*/
	}
}

.guide{
	padding: 40px 20px 60px;
	h1{
		width: 164px;
		padding-left: 20px;
		margin: 0 auto 20px;
		background: {
			image: $base-img-ico;
			repeat: no-repeat;
			position: 0 6px;
			size: 19px auto;
		}
		color: $base-color;
		font-size: 22px;
		text-align: center;
	}

	.img_guide{
		text-align:center;
		img{
			width:95%;
		}
	}

	ol,.guide_txt{
		padding-top:10%;
		line-height: 1.5;
		li{
			margin: 20px 0 0 20px;
			list-style: decimal;
			font-size: 1.375rem;
			em{
				color: $base-color;
			}
			p{
				color: #002c9c;
			}
		}
	}
	ul{
		margin: 40px 0 0;
		padding: 20px 10px;
		background-color: #e9e9e9;
		color: #797681;
		line-height: 1.5;
		li{
			position: relative;
			padding-left: 10px;
			margin-top: 10px;
			&::before{
				content: '*';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
			}
			&:first-child{
				margin-top:0;
			}
		}
	}
}
.tabs{
	position: relative;
	min-height: 35px;
	padding-top: 35px;
	background-color: $base-color;
	&.no-tab{
		padding:0;
	}
	&::after{
		content: '';
		display: block;
		clear: both;
	}
	> li{
		float: left;
		width: 100%;
		background-color: #fff;
		.mtab{
			left: 153px;
		}
		.ctab{
			display: none;
			> li{
				border-top: 1px solid #e9e9e9;
			}
		}
		&:first-child{
			.mtab{
				left: 0;
			}
			.ctab{
				display: block;
				> li{
					border-top: 1px solid #939393;
				}
			}
		}
	}
	.mtab{
		position: absolute;
		top: 0;
		display: block;
		width: 150px;
		height: 35px;
		line-height: 35px;
		background-color: #dadada;
		color: #797979;
		font: {
			size: 14px;
			weight: bold;
		}
		text-align: center;
		&.active{
			background-color: #fff;
			color: $base-color;
		}
	}
	.ctab{
		margin: 30px 20px 60px;
		border-top: 2px solid $base-color;
		border-bottom: 2px solid $base-color;
		> li{
			position: relative;
			font-size: 16px;
			&:first-child{
				border-top: none !important;
			}
			strong{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 25%;
				height: 100%;
				background-color: #f8f8f8;
				text-align: center;
				span{
					position: relative;
					top: 50%;
					display: block;
					margin-top: -11px;
				}
			}
			> ul{
				margin-left: 25%;
				> li{
					border-top: 1px solid #e9e9e9;
					&:first-child{
						border-top: none;
					}

				}
			}
			a{
				display: block;
				padding: 10px 10% 10px 7%;
				background: {
					image: $base-img-ico;
					repeat: no-repeat;
					position: 96% -29px;
					size: 19px auto;
				}
			}
		}
	}
}

.ctab2{
	margin: 30px 20px 60px;
	border-top: 2px solid $base-color;
	border-bottom: 2px solid $base-color;
	> li{
		border-top: 1px solid #e9e9e9;
		position: relative;
		font-size: 13px;
		&:first-child{
			border-top: none !important;
		}
		strong{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 25%;
			height: 100%;
			background-color: #f8f8f8;
			text-align: center;
			span{
				position: relative;
				top: 50%;
				display: block;
				margin-top: -11px;
			}
		}
		> ul{
			margin-left: 25%;
			> li{
				border-top: 1px solid #e9e9e9;
				&:first-child{
					border-top: none;
				}

			}
		}
		a{
			display: block;
			padding: 10px 10% 10px 7%;
			background: {
				image: $base-img-ico;
				repeat: no-repeat;
				position: 96% -29px;
				size: 19px auto;
			}
		}
	}
}
.test-wrap{
	padding: 25px 20px 20px;
	.path{
		font-size: 1.250rem;
	}
	.status{
		background-color: #dadada;
		overflow: hidden;
		padding: 8px 5px;
		margin: 20px 0 0;
		font-size: 1.250rem;
		color: #000;
		letter-spacing: -1px;
		text-align: center;
		dt{
			display: inline-block;
			&::before{
				content: '|';
				color: #989898;
				display: inline-block;
				margin: 0 5px 0 1px;
			}
			&:first-child{
				&::before{
					display: none;
				}
			}
		}
		dd{
			display: inline-block;
		}
	}
}
.audio{
	margin: 30px 0 0;
	h2{
		line-height: 1.3;
		color: #000;
		font-size: 18px;
		padding: 0 0 20px 20px;
		background: {
			image: $base-img-ico;
			repeat: no-repeat;
			position: 0 -74px;
			size: 19px auto;
		}
	}
	.player{
		position: relative;
		height: 44px;
		background-color: #000;
		padding: 0 44px 0 0;
		.speed{
			position: absolute;
			right: 0;
			top: 0;
			button{
				width: 44px;
				height: 44px;
				background: none;
				color: #ccc;
				font-size: 13px;
				font-weight: bold;
				em{
					font-weight: normal;
				}
			}
			.speed-select{
				display: none;
				position: absolute;
				right: 0;
				top: 44px;
				z-index: 100;
				font-size: 13px;
				li{
					button{
						height: 30px;
						background: {
							color: #000;
							image: none;
						}
						&:hover, &:focus{
							background: #1e1e1e;
						}
					}
				}
			}
		}
	}
	.btn{
		margin-top: 20px;
		button{
			padding-left: 13px;
			outline: none;
			background: {
				color: $base-color;
				image: $base-img-ico;
				repeat: no-repeat;
				position: 5px -111px;
				size: 19px auto;
			}
			&.disabled{
				background-color:#8e8e8e;
				color:#fff;
				border-color:#8e8e8e;
			}
			&.toggle{
				background: #fff;
				color: $base-color;
				position:relative;
				&::after{
					font-size:60%;
					position:absolute;
					right:10px;
					top:50%;
					content: '▼';
					transform:translateY(-50%);
					-webkit-transform:translateY(-50%);
				}
				&.hide{
					&::after{
						content: '▲';
					}
				}
			}
		}
	}
}

.pronunc-list{
	margin-bottom:15px;
	.text,a{
		position:relative;
		display:block;
		text-align:left;
		font-weight:bold;
		padding: 5px 0 6px 25px;
		line-height: 1.6;
		color: #fff;
		background : {
			color: $base-color;
			//image:$base-img-ico;
			//position:7px -110px;
			//size:19px auto;
			//repeat:no-repeat;
		}
		&::before{
			content: '';
			display:block;
			position:absolute;
			left:10px;
			top:50%;
			width:12px;
			height:10px;
			transform:translateY(-50%);
			-webkit-transform:translateY(-50%);
			background : {
				image:$base-img-ico;
				position:0 -124px;
				size:19px auto;
				repeat:no-repeat;
			}
		}
		&.active{
			&::after{
				font-size:60%;
				position:absolute;
				right:10px;
				top:50%;
				content: '▼';
				transform:translateY(-50%);
				-webkit-transform:translateY(-50%);
			}
		}
		&.hidden{
			&::after{
				content:'▲';
			}
		}
		&.btn{
			font-weight:normal;
			&::after{
				content: '';
			}
		}
		&.one{
			cursor:default;
			&::after{
				display:none !important;
			}
		}
	}
	ul{
		display:none;
		border:2px solid $base-color;
		border-top:0;
		li{
			border-top:1px solid #e9e9e9;
			&:first-child{
				border-top:0;
			}
			a{
				font-weight:normal;
				color:#6d6d6d;
				background:{
					color:#fff;
					/*image:$base-img-ico;
					position:7px -134px;
					size:19px auto;
					repeat:no-repeat;*/
				}
				&::before{
					content: '';
					display:block;
					position:absolute;
					left:10px;
					top:50%;
					width:12px;
					height:10px;
					transform:translateY(-50%);
					-webkit-transform:translateY(-50%);
					background : {
						image:$base-img-ico;
						position:0 -147px;
						size:19px auto;
						repeat:no-repeat;
					}
				}
			}
		}
	}
}
#text-input{
	div{
		margin-bottom:7px;
		&.type2{
			vertical-align:top;
			p{
				vertical-align:top;
				display:inline-block;
				width:90%;
			}
			textarea{
				width:96%;
				margin:0;
			}
		}
	}
	p{
		position:relative;
		overflow:hidden;
		line-height:1;
		strong{
			position:absolute;
			left:0;
			bottom:5px;
			display:block;
		}
	}
}
.txt-area{
	margin: 22px 0 30px;
	font-size: 18px;
	line-height: 1.4;
	textarea{
		//height:auto !important;
		width: 97%;
		padding: 4px 1% 1px;
		resize: none;
		overflow-y: hidden;
		line-height: 1.5;
		border: 1px solid #939393;
		margin: 8px 0 0;
	}
	p{
		strong{
			color: #000;
			font-weight: normal;
			margin:0 3px 5px 0;
		}
		em{
			color: $base-color;
		}
	}
	em{
		color: $base-color;
	}
	h3{
		color: #000;
		font-size: 18px;
		&::before{
			content: '';
			display: inline-block;
			width: 2px;
			height: 20px;
			background-color: #000;
			margin: 0 5px -5px 0;
		}
	}
	.answer{
		word-wrap : break-word;
		border: 1px solid #939393;
		padding: 10px;
		margin: 5px 0 0;
	}
}
.result{
	padding: 0 20px 60px;
	color: #000;
	h3{
		margin: 10% 0;
		text-align: center;
		font-size: 1.625rem;
	}
	table{
		width: 100%;
		border-top: 1px solid $base-color;
		border-bottom: 1px solid $base-color;
		text-align: left;
		font-size: 1.500rem;
		tr{
			th{
				width: 45%;
				padding: 15px 0 15px 13%;
				background: #f8f8f8;
				color: #6c6c6c;
				font-weight: normal;
				border-top: 1px solid #e9e9e9;
			}
			td{
				padding-left: 15%;
				border-top: 1px solid #e9e9e9;
				border-left: 1px solid #e9e9e9;
			}
			&:first-child{
				th,td{
					border-top: none;
				}
			}
		}
	}
}
.btn-top{
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: block;
	width: 39px;
	height: 39px;
	background: {
		image: url('#{$image-path}/common/btn_top.png');
		repeat: no-repeat;
		position: 0 0;
		size: 39px auto;
	}
	text-indent: -9999em;
}
.popup-layer{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: none;
	opacity: 0;
	align-items: center;
	justify-content: center;
	&.open{
		display: flex;
		animation: opacity 0.3s ease-out forwards;
	}
	&::before{
		content: '';
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(0,0,0,0.7);
	}
	.layer{
		width: 94%;
		background-color: #fff;
		position: relative;
		z-index: 2;
		color: #000;
		.cont{
			padding: 66px 10px;
			p{
				text-align: center;
				font-size: 1.625rem;
			}
			.btn{
				a{
					width: 45%;
					padding: 7px 0 10px;
					border: 1px solid $base-color;
					background-color: $base-color;
					font-weight: bold;
					&:first-child{
						background-color: #fff;
						color: $base-color;
						font-weight: bold;
					}
				}
			}
		}
	}
}
.jwplayer{
	.jw-icon-rewind{
		display:inherit !important;
	}
	.jw-icon-volume{
		display:none !important;
	}
}
#question-box,#answer-area,#script-btn,#script-area,#result-box,
.header .header-btn a.menu-btn,.guide,.index,#script-area-text,#result-btn{
	display:none;
}

.step-list {
	margin: 80px 0 30px;
	> li {
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		width: 33.3%;
		height: 12px;
		float: left;
		position: relative;
		background: #eaeaea;
		&:first-child {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		&:last-child {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		em {
			position: absolute;
			background: url(//gscdn.hackers.co.kr/champ/img/contents/shadowing/ToeflIntermediateSpeaking/sp_ico.png);
			color: #fff;
			top: -38px;
			font-size: 21px;
			left: 50%;
			margin-left: -46px;
			background-position: -47px 0;
			width: 97px;
			height: 34px;
			display: none;
		}
		&.on {
			background: #ff8a00;
			a {
				color: #ff8a00;
			}
			em {
				display: block;
			}
		}
		a {
			color: #797979;
			display: block;
			padding: 10px 0;
		}
	}
	&::after {
		clear: both;
		content: '';
		display: block;
		height: 0;
	}
}

.head-info {
	color: #424242;
	font-weight: normal;
	font-size: 18px;
	margin: 25px 0;
}

.audio-volume {
	background: #e0e0e0;
	padding: 10px;
	position: relative;
	.volume_area {
		width: auto;
		position: absolute;
		left: 50px;
		top: 18px;
		right: 20px;
		.ui-widget-header {
			background: #ff8a00;
			border: none;
			height: 100%;
		}
		.ui-state-default, .ui-widget-content .ui-state-default {
			border-radius: 50%;
			background: #fff;
		}
		&.ui-widget-content {
			height: 5px;
			background: #c7c7c7;
			border: none;
		}
		&.ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 12px;
			height: 12px;
			cursor: default;
			-ms-touch-action: none;
			touch-action: none;
		}
		&.ui-slider-horizontal .ui-slider-handle {
			top: -5px;
		}
	}
}

.ico-inter {
	background:url(//gscdn.hackers.co.kr/champ/img/contents/shadowing/ToeflIntermediateSpeaking/sp_ico.png);
	background-size: 77px auto;
	display: inline-block;
	&.volume {
		width: 18px;
		height: 15px;
	}
	&.b-arrow {
		background-position: -24px -39px;
		width: 10px;
		height: 11px;
		vertical-align: middle;
		background-size: auto auto !important;
	}
	&.error {
		background-position: -35px -31px;
		width: 42px;
		height: 43px;
	}
	&.mike {
		background-position: 0 -31px;
		width: 29px;
		height: 48px;
	}
}

.guide-txt {
	color: #424242;
	font-size: 16px;
	background: #ffe9cf;
	padding: 20px 14px;
	strong {
		display: inline-block;
		margin-right: 6px;
	}
}

.script-txt {
	color: #424242;
	font-size: 18px;
	margin-top: 30px;
}

.rcd-timer {
	color: #383838;
	font-size: 22px;
	vertical-align: middle;
}

.recoding {
	.rcd-timer {
		color: #ff0000;
		font-weight: bold;
	}
}

.txt-view {
	position: fixed;
	left: 0;
	right: 0;
	top: 50%;
	bottom: 0;
	text-align: center;
	.head-view {
		color: #ff8a00;
		font-size: 19px;
		display: block;
		margin: 20px 0;
	}

	a {
		background: #e9e9e9;
		color: #000;
		padding: 6px 10px;
		display: inline-block;
		margin-top: 25px;
	}

	em {
		margin-top: 10px;
		color: #000;
		display: block;
		font-weight: bold;
	}
}