@charset "UTF-8";

$point-color:#395CC1;
$point-color2:#395CC1;
$red-color:#E6003A;

$font-size:14px;
$font-size2:15px;
$font-size3:16px;
$font-size4:17px;
$font-size5:18px;

$padding-w:4.6%;  //main

$img-url:'//gscdn.hackers.co.kr/ecpa_m/img/';
$img-ico:'common/sp_ico.png';
$img-btn:'common/sp_btn.png';
$img-down:'common/sp_down.png';

